version: "3.9"

services:
  # =====================
  # Database (PostgreSQL)
  # =====================
  database:
    image: postgres:15
    container_name: my-DB
    restart: always
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: securepassword
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network

  # =====================
  # Backend (Node.js API)
  # =====================
  backend:
    build: ./backend
    deploy:
      replicas: 2 # High Availability
    restart: always
    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_NAME: appdb
      DB_USER: appuser
      DB_PASSWORD: 1234
      CACHE_HOST: redis
    depends_on:
      - database
      - redis
    networks:
      - app_network

  # =====================
  # Frontend (React / Vue)
  # =====================
  frontend:
    build: ./frontend
    deploy:
      replicas: 2 # High Availability
    restart: always
    networks:
      - app_network

  # =====================
  # Redis (Caching Layer)
  # =====================
  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    networks:
      - app_network

  # =====================
  # NGINX (Reverse Proxy)
  # =====================
  nginx:
    image: nginx:alpine
    container_name: nginx_lb
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
